<html>

<head>
	<link type="text/css" rel="stylesheet" href="/static/css/portfolio.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>contact</title>
</head>

<body>

<div class="container">
	
	<div class ="message text-center">
		<h3>Message Index</h3>
		<br>
		<table class="center" style="width: 800px; margin-left: -400px;">
			<tr>
			{% for col in content.columns %}
				<th>{{ col }}</th>	
			{% endfor %}
			</tr>
			
			{% for row in content.data %}
			<tr>
				{% for cell in row %}
					<td class="{% cycle '' '' 'me' %}">{{ cell }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% if messages %}
	{% for message in messages %}
		{% if message.tags == 'error' %}
			<script>alert("fill in all blank"); </script>
		{% endif %}
	{% endfor %}
{% endif %}

</body>

</html>