<html>

<head>
	<link type="text/css" rel="stylesheet" href="/static/css/portfolio.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>info</title>
</head>

<body>

<div class="container">
	<div class ="info_detail">
		<table class="center">
			<tr>
				<td rowspan="4"><img src="/static/images/2015041079.JPG" width ="110px"></td>
				<td>이름</td>
				<td>{{kname}}</td>
				<td>전화번호</td>
				<td>{{num}}</td>
			</tr>
			<tr>
				<td>영문 이름</td>
				<td>{{ename}}</td>
				<td>생년월일</td>
				<td>{{birth}}</td>
			</tr>
			
			<tr>
				<td>이메일</td>
				<td>{{email}}</td>
				<td>전공</td>
				<td>소프트웨어학과</td>
			</tr>	
		</table>
	</div>
</div>

</body>

</html>