<html>

<head>
	<link type="text/css" rel="stylesheet" href="/static/css/portfolio.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>portfolio</title>
</head>

<body>

<div class="container" style="padding-bottom:80px">
	<div class="main">
	<h1>2018</h1>
	<h1>PORTFOLIO</h1>
	</div>

	<div class="info">
		<form action ="{% url 'info' %}" method="POST">
			{% csrf_token %}
			<input type="text" class="kname" name="kname" value="김형래" readonly />
			<input type="text" class="ename" name="ename" value="Kim Hyeongrae" readonly />
			<input type="text" class="word" name="num" value="010-3722-7085" readonly />
			<input type="text" class="word" name="birth" value="1996.10.25" readonly />
			<input type="text" class="word" name="email" value="gudfo19950@naver.com" readonly />
			<br><br>
			<input type="submit" value="more detail"/>
		</form>
	</div>
</div>

<div class="container">
	<div class="achive">
	<h4>학력사항</h4>
	<br>
		<div class="ment">
			<table>
				<tr>
			{% for col in achivement.columns %}
				{% if not col|floatformat %}
					<td class="left_line" style="border-left-style : dotted">{{ col }}</td>
				{% else %}
					<td>{{ col }}</td>
				{% endif %}	
				
			{% endfor %}
				</tr>
			{% for row in achivement.data %}
				<tr>
					{% for cell in row %}
						{% if cell == NULL %}
							<td class="left_line">&nbsp;</td>
						{% elif cell == 0 %}
							<td>&nbsp;</td>
						{% elif not cell|floatformat %}
							<td class="left_line" style="border-left-style : dotted">{{ cell }}</td>
						{% else %}
							<td>{{ cell|floatformat }}</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
	
	<div class="contact">
		<h4>Contact Me</h4>
		<br>
		<form action ="{% url 'contact' %}" method="POST">
		{% csrf_token %}
			<div class="ment">
				<label>이름</label> <input type="text" name="name" value =""/>
				<br>
				<label>번호</label> <input type="text" name="number" value =""/>
				<br>
				<label>메세지</label> <input type="text" name="message" value =""/>
				<br><br>
				<input type="submit" value="send message"/>
			</div>
		</form>
	</div>
</div>
</body>

</html>